paper
mongoengine/
inclusion
user_selected
publication
financement
affiliations_def
affiliations
paper_selected
tareas
tareas_def
viticulture
dataset
features_def
features
algorithms
caracteristicas
mensajes.txt
urls
src/__pycache__
src/inclusiones.py
src/datosConexion.py
./output/
./output/bs.html
.spyproject

