[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
pybtex = "*"
matplotlib = "*"
streamlit = "*"
requests = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pymongo]
extras = [ "srv",]
version = "*"

[packages.e54e73a]
path = "./mongoengine"
